:root { 
--gray_900_59:#08114259; 
--gray_200_7f:#e7e7e77f; 
--orange_100_01:#ffe6a5; 
--gray_800_00:#3b3b3b00; 
--gray_900_19:#08114219; 
--blue_gray_500_01:#666c89; 
--yellow_800:#f6b426; 
--white_A700_14:#ffffff14; 
--gray_900_4c:#0811424c; 
--gray_200_01:#e7e7e7; 
--blue_gray_900_02:#1d2341; 
--blue_gray_900_01:#111c55; 
--gray_200_02:#eeeeee; 
--blue_gray_900_00:#111b5300; 
--blue_gray_900:#111b53; 
--blue_900_00:#112aab00; 
--gray_900_26:#08114226; 
--blue_gray_100:#d7d7d7; 
--orange_A200:#fcaf3b; 
--gray_200_19:#e7e7e719; 
--blue_gray_500:#666b89; 
--amber_300:#ffd956; 
--gray_200:#eaeaea; 
--yellow_700_02:#ffbe34; 
--yellow_700_01:#ffb82b; 
--indigo_900_03:#1f2a69; 
--indigo_900_04:#022d5f; 
--indigo_900_01:#26326f; 
--indigo_900_89:#022d5f89; 
--gray_100_01:#f5f5f5; 
--indigo_900_02:#032d5f; 
--indigo_900_05:#273270; 
--white_A700:#ffffff; 
--indigo_800:#2d397b; 
--blue_gray_100_00:#d4d4d400; 
--blue_gray_100_01:#d4d4d4; 
--gray_900_33:#08114233; 
--blue_gray_100_02:#d5d5d5; 
--blue_gray_100_03:#d9d9d9; 
--white_A700_33:#ffffff33; 
--gray_900_e8:#1c1f35e8; 
--black_900:#000000; 
--yellow_700:#ffb629; 
--gray_500_01:#9c9c9c; 
--gray_900_02:#141414; 
--gray_900_03:#091242; 
--gray_900_04:#060f3b; 
--gray_500:#999999; 
--gray_900_05:#23212a; 
--blue_gray_400:#8288a6; 
--blue_gray_600:#4d5682; 
--gray_900_00:#08114200; 
--gray_900:#22202a; 
--gray_900_01:#1c1f35; 
--blue_gray_900_03:#1c2551; 
--gray_900_7c:#0811427c; 
--amber_300_01:#ffd550; 
--gray_300:#e0e0e0; 
--orange_100:#ffd6a5; 
--gray_100:#f4f4f4; 
--gray_900_7f:#031b377f; 
--indigo_900:#101b55; 
}